<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div class="footer" th:fragment="footer">
    <style>
        .footer{
        bottom: 5px;
        height: 100px;
        }


    </style>
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            <span>인천광역시 부평구 부평1동 546-62</span>
            <span>대표이사
                허찬용,김준환,최선재</span><p></p>
            사업자등록번호
            123-45-67890
            대표이메일
            thejoeun@naver.com

         <p class="copyright">
            © 애견 호텔. All Rights Reserved
         </p>

        </div>
    </footer>
</div>
</html>